<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - TaskLinker</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@600&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/styles/about-us.css" />
    <link rel="icon" href="/assests/link.png" type="image/png">

  </head>
  <body>
    <div class="about-us-container">
      <h1 class="fade-in">Meet the <span style="color: #f39c12;">Tech Titans</span></h1>
      <p class="fade-in">
        TaskLinker is powered by a talented team of developers and designers who
        are passionate about creating innovative solutions. Meet the Tech Titans
        behind the project.
      </p>

      <div class="team-member slide-in">
        <div
          class="profile-pic"
          style="background-image: url('/assests/adnan.jpg')"
        ></div>
        <div class="role">
          Adnan Qureshi<br /><span>Team Leader | Full Stack Developer</span>
        </div>
        <div class="role-info">
          Adnan is the mastermind behind TaskLinker, leading the team with his
          expertise in full-stack development.
        </div>
      </div>

      <div class="team-member slide-in">
        <div
          class="profile-pic"
          style="background-image: url('/assests/ayesha.jpg')"
        ></div>
        <div class="role">Ayesha Khan<br /><span>Frontend Developer</span></div>
        <div class="role-info">
          Ayesha is the creative force in the frontend design, ensuring a smooth
          and engaging user experience.
        </div>
      </div>

      <div class="team-member slide-in">
        <div
          class="profile-pic"
          style="background-image: url('/assests/aayush.jpg')"
        ></div>
        <div class="role">
          Aayush Chaturvedi<br /><span>Frontend Developer</span>
        </div>
        <div class="role-info">
          Aayush brings innovative frontend solutions, making sure the UI is
          both functional and attractive.
        </div>
      </div>

      <div class="team-member slide-in">
        <div
          class="profile-pic"
          style="background-image: url('/assests/karina.jpg')"
        ></div>
        <div class="role">Karina Aklecha<br /><span>Web Designer</span></div>
        <div class="role-info">
          Karina's designs give TaskLinker its unique and professional look,
          setting the project apart from the rest.
        </div>
      </div>
    </div>
  </body>
</html>
